/* ================================================================== */
/* ESTILOS ESPECÍFICOS PARA A PÁGINA: INDEX (index.css)             */
/* ================================================================== */

.hero-gradient {
  background: linear-gradient(135deg, #2b3b94 0%, #3b82f6 100%);
}

.text-shadow {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.hero-container {
  display: flex;
  height: 400px;
  width: 100%;
}

.hero-text,
.hero-image-wrapper {
  flex: 1 1 50%;
  height: 100%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}

.hero-image-wrapper {
  position: relative;
  height: 100%;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 115%;
  height: 115%;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* Animação para o Carrossel do Hero */
#heroTitle, #heroDesc, #heroImage {
    transition: opacity 0.3s ease-in-out;
}

.fade-out {
    opacity: 0;
}